.clearfix::after {
	content:"";
	display: table;
	clear: both;
}

.conteiner {
	width: 1000px;
	margin: auto;

}

.main-menu .main-menu__item {
	display: inline-block;
	text-transform: uppercase;
	margin-right: 10px;
	box-sizing: border-box;
	height: 70px;
	position: relative;
	padding: 0 10px;
}	

.main-menu a {
	text-decoration: none;
	color: black;
	padding: 2.5em 0;
	font-weight: bold;
	font-family: Arial;
}

.main-menu__item:hover {
	border-bottom: 1px solid rgb(19, 96, 246);
}

.main-menu__item:hover a {
	color: rgb(19, 96, 246);	
}

.main-menu .submenu a {
	text-decoration: none;
	color: black;
	display: block;
	padding: 0;
	margin:0;
	height:50px;
	font-size: 9pt;
	padding-left: 10px;
}

.main-menu .submenu a:hover {
	color: rgb(19, 96, 246);
}

.main-menu {
	font-size: 8.5pt;
	display:inline-block;
}

.main-menu .main-menu__item {
	position: relative;
}

.main-menu .submenu {
	position:absolute;
	width: 150px;
	top: 70px;
	left:0;
	box-sizing: border-box;
	background-color: #fff;
	display: none;
}

.main-menu .subitem {
	display: block;
	text-transform: capitalize;
	margin-top: -10px;
}


.main-menu__item:hover .submenu {
	display: block;
}


.logo {
	display: inline-block;
	line-height: 70px;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	color:#000;
	text-decoration: none;
}

.button {
	border: 1px solid rgb(19, 96, 246);
	border-radius: 4px;
	background: #fff;
	color: rgb(19, 96, 246);
	height: 40px;
	text-transform: uppercase;
	font-size: 8.5pt;
	font-weight: bold;
	display: inline-block;
	margin-left: 10px;
}

.button:hover {
	background-color:#F5F5F5;
}

.button--blue {
	color: #fff;
	background-color: rgb(19, 96, 246);
}

.button--blue:hover {
	background-color:#1E90FF;
}

.navbar-right {
	float:right;
	line-height: 70px;	
}


.section {
	background: url(http://cloudberrystudio.ru/ff/6/belyy_fon_vmyatiny_nerovnosti_tekstura_2633x1542.jpg) no-repeat;
	height:550px;
}

.main-header {
	display: block;
	padding-top: 300px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: Arial;
	font-size: 30px;
}

.plain-text {
	display: block;
	width: 320px;
	font-size: 20px;
	padding-top: 10px;
	line-height: 25px;
	color: grey;
}

.block {
	display:inline-block;
	width: 260px;
	margin-right: 65px;
	margin-top: 60px;
}

.header {
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 20px;
	font-family: Arial;
}

.text {
	line-height: 25px;
	color: grey;
}